body {
    margin: auto auto;
    width: 70%;
}
.container {
  width: 100%;
  position: relative;
}

.container .homepage_text{
  border: 1px #ccc solid;
  border-radius: 1.5em;
  padding: 5px 10px;
  float: left;
  width: 60%;
}

.container .homepage_image{
  float: left;
  width: 30%;
  padding-top: 50px;  
  padding-left: 80px;
}

.container .homepage_image img{
  max-width: 200px;
}

.container .project_image img{
  max-width: 300px;
}

.container hr 
{
  margin-top: 15px;
  margin-bottom: 15px;
  width : 100%;
  border: 1px solid #ccc;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Share buttons */
.sharebuttons {
  position: fixed;
  margin: auto;
  width: 80%;
  bottom: 0;
  background-color: white;

}

.sharebuttons ul {
  margin: 0 0 0 0;
  text-align: center;
  background-color: white;
}

.sharebuttons ul a{
  font: black;
}
.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;  
  font-size: 1.2em;
  height: 1.2em;
  font: black;
}

.sharebuttons ul li svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-color: white;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
  vertical-align: middle;
}
.sharebuttons .twitter a {
  padding: 5px;
}

.sharebuttons .linkedin svg {
  fill: #0077B5;
  vertical-align: middle;
}
.sharebuttons .linkedin a {
  padding: 5px;
  font: black;
}

.sharebuttons .gmail svg {
  fill: #D14836;
  vertical-align: middle;
}
.sharebuttons .gmail a {
  padding: 5px;
}