body {
    margin: 60px auto;
    width: 60%;
}
.container .blurb{
  height : 300px;
}

.container .blurb .homepage_text{
  float: left;
  width: 85%;
}

.container .blurb .homepage_image{
  float: left;
  width: 15%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Share buttons */
.sharebuttons {
  margin: 0 auto 0 auto;
  bottom: 0;
  width: 100%;
}

.sharebuttons ul {
  margin: 0 0 0 0;
  text-align: center;
}

.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;  
  font-size: 1.2em;
  color: #333;
  vertical-align: middle;
}

.sharebuttons ul li svg {
  width: 30px;
  height: 30px;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
  vertical-align: middle;
}

.sharebuttons ul li .vl {
    border-left: 1px solid black;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.sharebuttons .linkedin svg {
  fill: #0077B5;
  vertical-align: middle;
}

.sharebuttons .gmail svg {
  fill: #D14836;
  vertical-align: middle;
}