body {
    margin: auto auto;
    width: 1080px;
}
.container {
  width: 100%;
  padding: 5% auto;
  position: relative;
}

.container .homepage_text{
  border: 1px #ccc solid;
  border-radius: 1.5em;
  padding: 10px 10px;
  float: left;
  width: 55%;
  margin: 15px 15px;
}

.container .homepage_image{
  border-radius: 1.5em;
  border: 2px #ccc solid;
  float: left;
  width: 25%;
  padding: 5px 5px;
  margin: 15px 15px;
}

.container .homepage_image img{
  max-width: 200px;
}

.container .section{
  padding: 10px 10px;
  margin: 20px 20px;
  float: left;
  width: 100%;
}
.container .section .project_text{
  float: left;
  width: 50%;
}
.container .section .project_image{
  padding: 10px 10px;
  float: left;
  width: 35%;
}
.container .section .project_image img{
  max-width: 70%;
}

.container .section .project_image p{
  font-size: 1em;
}

.container .section .project_image iframe{
  padding-top: 10px;
  max-width: 70%;
  height: 250px;
}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}



.link {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: darkgrey;
}
h1 {
    font-size: 1.6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.1em;
    line-height: 1.2em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


/* Share buttons */
.sharebuttons {
  float: left;
  width: 100%;
  margin: 10px 10px;
}

.sharebuttons ul {
  margin: 0 0 0 0;
  text-align: center;
}


.sharebuttons ul li {
  display: inline;
}

.sharebuttons ul li a {
  text-decoration: none;  
  font-size: 1.3em;
  height: 1.3em;
  padding: 10px auto;
}

.sharebuttons ul li svg {
  width: 30px;
  height: 30px;
  padding-left:  5px;
  padding-right: 5px;
}

.sharebuttons .twitter svg {
  fill: #1DA1F2;
  vertical-align: middle;
}

.sharebuttons .linkedin svg {
  fill: #0077B5;
  vertical-align: middle;
}

.sharebuttons .gmail svg {
  fill: #D14836;
  vertical-align: middle;
}
