<div class="sharebuttons">
  <hr/>
  <ul>
    <li class="gmail">
      <a href="mailto:sanghviyash95@gmail.com">        
        {% include social/share-icon-gmail.svg %}
      </a>
    </li>
    <li><a>Gmail</a></li>         
    <li class="twitter">
      <a href="https://twitter.com/sanghviyash951">
        {% include social/share-icon-twitter.svg %}
      </a>
    </li>
    <li><a>Twitter</a></li>         
    
    <li class="linkedin">
      <a href="https://www.linkedin.com/in/yash-sanghvi-4729838b/">
        {% include social/share-icon-linkedin.svg %}
      </a>
    </li>
    <li><a>LinkedIn</a></li>         
  </ul>
</div>
