<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href=/assets/css/style.css>
  </head>

  <body>
  <div class="wrapper">
    <div class="topnav" style="font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;">
      <a href="/">Home</a>
      <a href="/projects">Recent Projects</a>
      <a href="/cv">CV</a>
    </div>
    <hr />
    <div  style="width:25%; float:left; padding: 20px 20px;">
        <center>
        <img src="/assets/img/homepage_img.png" alt="Logo" width="60%"/>
        <div style="font-size: 1.1em "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; float:left;">
          <a href="mailto:sanghviyash95@gmail.com"> <img src ="assets/img/gmail.svg" width = "20" style="vertical-align:middle"/>  E-mail</a> <br>
          <a href="mailto:sanghviyash95@gmail.com"> <img src ="assets/img/linkedin.svg" width = "20" style="vertical-align:middle"/>  LinkedIn</a> <br>
          <a href="mailto:sanghviyash95@gmail.com"> <img src ="assets/img/twitter.svg" width = "20" style="vertical-align:middle"/>  Twitter</a>
        </div>
      </center>
    </div>
    <div style="width:65%; float:left">
    {{ content }}
    </div>
  </div>    
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  {% if site.google_analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
  </body>
</html>
